header.header
    nav.nav.nav--tours
        a.nav__el(href="/") All tours

    //- form.nav__search
    //-     button.nav__search-btn
    //-         svg
    //-             use(xlink:href="img/icons.svg#icon-search")
    //-     input(type="text" placeholder="Search tours" class="nav__search-input")

    div.header__logo
        img(src="/img/logo-white.png" alt="Natours logo")

    input.header__check(type="checkbox" id="check")
    div.header__menu
        label.menu__label(for="check")
            div.menu__label--top.menu__label--line
            div.menu__label--mid.menu__label--line
            div.menu__label--bot.menu__label--line

    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout(href="/") Log Out
            a.nav__el(href=`/user/${user.name}`)
                //- img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                img.nav__user-img(src=`${user.photo}` alt=`Photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else
            a.nav__el(href="/login") Log in
            a.nav__el.nav__el--cta(href="/signup") Sign up