extends base

mixin menuItem(link, icon, text, active)
    li(class=`${active ? "side-nav--active" : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content

    main.main
        div.user-view
            nav.user-view__menu
                ul.side-nav
                    +menuItem("#", "settings", "Settings", true)
                    +menuItem("#", "briefcase", "My bookings", false)
                    +menuItem("#", "star", "My reviews", false)
                    +menuItem("#", "credit-card", "Billing", false)
                - if (user.role === 'admin')
                    div.admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +menuItem("#", "map", "Manage tours", false)
                            +menuItem("#", "users", "Manage users", false)
                            +menuItem("#", "star", "Manage reviews", false)
                            +menuItem("#", "briefcase", "Study Case", false)

            div.user-view__content
                div.user-view__form-container
                    h2.heading-secondary.ma-bt-md Your account settings
                    //- WITHOUT API - Using Traditional Action / Method
                    //- form.form.form-user-data(action="/submit-user-data" method="POST")
                    form.form.form-user-data
                        div.form__group
                            label.form__label(for='name') Name
                            input#nameUpdate.form__input(type='text', value=`${user.name}`, required)
                            //- input#nameUpdate.form__input(name="name" type='text', value=`${user.name}`, required)
                        div.form__group.ma-bt-md
                            label.form__label(for='email') Email address
                            input#emailUpdate.form__input(type='email', value=`${user.email}`, required)
                            //- input#emailUpdate.form__input(name="email" type='email', value=`${user.email}`, required)
                        div.form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
                            //- img.form__user-photo(src=`${user.photo}`, alt=`${user.name} photo`)
                            a.btn-text(href='') Choose new photo
                        div.form__group.right
                            button.btn.btn--small.btn--green Save settings
                div.line &nbsp;
                div.user-view__form-container
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-settings
                        div.form__group
                            label.form__label(for='password-current') Current password
                            input#passwordCurrent.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') New password
                            input#passwordNew.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button#savePassword.btn.btn--small.btn--green Save password